/* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: 40px;
      color: #5a5a5a;

    }

    .h1, h1 {
      font-size: 36px;
    }



    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 20;
      /*margin-top: 20px;*/
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    /*.navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }*/

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 30px 20px 30px; /* Increase vertical padding to match navbar links */
      font-size: 24px;
      font-weight: bold;
      /*text-shadow: 0 -1px 0 rgba(0,0,0,.5);*/
    }


    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 2px;
      font-size: 16px;
    }
    .navbar .nav li a {
      _padding: 15px 20px;
    }
    .navbar .nav li.dropdown a {
      _padding: 17px 20px;
    }
    .navbar .nav * li a,
    .navbar .nav * li.dropdown a {
      _padding: 0;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 14px;
    }



    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      background-color: rgb(51, 112, 54);
      margin-bottom: 60px;
      margin-top: 90px;
    }

    .carousel .container {
      position: relative;
      z-index: 10;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 15;
    }

    .carousel .item {
      height: 400px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      _width:100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      _width:550px;
      padding: 0 90px;
      margin-top: 60px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin-bottom: 20px;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */
     .marketing {
      text-align: center;
      color: #5a5a5a;
     }
     .marketing .row {
      margin-top: 60px;
     }
    
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
      font-size: 24px;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
     /* padding-top: 120px;*/ /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      /*margin-top: -120px;*/ /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        /*margin: -20px 0;*/
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        _width:40%;
        margin: 0 auto 20px;
      }
    }




    @media (max-width: 767px) {

      /*.navbar-inner {
        margin: -20px;
      }
*/
      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 400px;
      }
      .carousel img {
        height: 400px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }

/*导航*/
.navbar-inverse.navbar-custom .navbar-inner{border-radius: 0;}
.navbar-inverse.navbar-custom .brand, 
.navbar-inverse.navbar-custom .nav > li > a{text-shadow:none;color: #444;}

.navbar-inverse.navbar-custom .nav .active > a,
.navbar-inverse.navbar-custom .nav .active > a:focus{background-color: #fff;box-shadow:none;}


.navbar-inverse.navbar-custom .nav .active > a,
.navbar-inverse.navbar-custom .nav > li > a:hover{border-bottom: 3px solid #6ca439;}
.navbar-inverse.navbar-custom .nav{margin: 15px 10px 0 0;}
.navbar-inverse.navbar-custom .nav>li{padding: 0 20px;}

.navbar-inverse.navbar-custom .nav .active > a, 
.navbar-inverse.navbar-custom .nav .active > a:hover, 
.navbar-inverse.navbar-custom .nav .active > a:focus{color: #444;}

.navbar-inverse.navbar-custom .nav li.dropdown.open > .dropdown-toggle, 
.navbar-inverse.navbar-custom .nav li.dropdown.active > .dropdown-toggle{background-color: #fff;color: #444;}

/*.navbar-inverse .nav li.dropdown.active > .dropdown-toggle, 
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle*/
.navbar-inverse.navbar-custom .nav-collapse .nav .nav-header{color: #444;}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret{border-top-color: #999999;border-bottom-color: #999999;}
@media(max-width: 979px){

  .navbar.navbar-custom .brand{padding: 20px 30px 20px;}
  .navbar-inverse.navbar-custom .nav .active > a, 
  .navbar-inverse.navbar-custom .nav .active > a, 
  .navbar-inverse.navbar-custom .nav > li > a:hover{border-bottom: 0;}

  .navbar-inverse.navbar-custom .nav-collapse .nav > li > a:hover, 
  .navbar-inverse.navbar-custom .nav-collapse .nav > li > a:focus, 
  .navbar-inverse.navbar-custom .nav-collapse .dropdown-menu a:hover, 
  .navbar-inverse.navbar-custom .nav-collapse .dropdown-menu a:focus{background-color: #f2f2f2;}
  .navbar-inverse.navbar-custom .nav-collapse .nav > li > a, 
  .navbar-inverse.navbar-custom .nav-collapse .dropdown-menu a{color: #444;}

}

/*轮播*/
.banner-cont .btn-large{border-radius: 0;background-color: #69b241;color: #fff;text-shadow:none;border-color: #69b241;}

/*内容*/

.type-bar img{width: 200px;height: 200px;}


.process-us .intro-text{width: 500px;padding: 60px 0 0 0;}
.process-us .featurette-image{width: 320px\9;height: 320px\9;}



@media (min-width: 1199px){

  .process-us .featurette .pull-left{padding-left: 100px;}
  .process-us .featurette .pull-right{padding-right: 100px;}
      
}
@media(max-width: 979px){

  .process-us .intro-text{width: 100%;text-align: center;}
      
}
@media (min-width: 979px){

  .process-us .featurette-image{width: 400px;height: 320px;}
}


/*联系我们*/
.cont-us{margin-top: 90px;padding-top:60px;border-top: 2px solid #F7F7F7;}

@media (max-width: 979px){
  .cont-us{margin-top: 60px;}
}
.contact-us .contact-info{margin-left: 20px;}
.contact-us .contact-info h2{color: #84a099;}
.contact-us .contact-info p{font-size: 16px;color: #333;padding-top: 10px;}
.contact-us .contact-info p a{color: #333;text-decoration: none;}
.contact-us .contact-info p a:hover{color: #887;}
@media (max-width: 768px){
  .contact-us img{display: none;}
}
@media (min-width: 1199px){
  /*.contact-us img{height: 700px;}*/
}
.contact-us .contact-info .map-us{margin-top: 30px;width: 88%;height: 170px;background-color: #ccc;}

/*产品*/

.product-cont .type-bar h2{font-size: 24px;}
.product-cont .type-bar{text-align: center;}
.product-cont .type-bar>.span4{margin-bottom: 80px;}


.project-header {
  width: 60%;
  text-align: center;
  margin: 60px 0 10px;
  font-weight: 200;
  margin-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  margin-top: 60px;
  margin-bottom: 80px;
}

.callme {
  z-index: 9999;
  width: 180px;
  height: 65px;
  position: fixed;
  right: 0;
  color: #FFF;
  top: 250px;
  overflow: hidden;
  
  font-size: 28px;
  line-height: 30px;
  background-color: rgb(51, 112, 54);
}

.callme .tips {
  font-size: 24px;
}

.nav .phone {
   font-size: 24px;
   font-weight: bold;
}